{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<h1>Bienvenue sur notre site</h1>
<h2>Si vous n'etes pas inscrit veuillez vous inscrire avant de choisir une activité</h2>
<h3>Voici la liste des personnes actuellements inscrites</h3>

    {% if users is defined and users|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Noms</th>
                    <th>Prénoms</th>
                    <th>Emails</th>
                    <th>Date de naissance</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birth|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune personne inscrite</p>
    {% endif %}

    <a href="{{ path('app_user_new') }}">INSCRIPTION</a>
{% endblock %}

